# Build and output directories
output/
**/build/
**/cmake-build-*/

# C/C++ compiled artifacts
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exp
*.ilk
*.pdb

# CMake/Make metadata
CMakeCache.txt
CMakeFiles/
compile_commands.json
Makefile
cmake_install.cmake

# Editor/system noise
.DS_Store
Thumbs.db

*vscode/
*.code-workspace
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates